<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="angular-bootstrap-pwgen.js"></script>
	<link rel="stylesheet" type="text/css" href="angular-bootstrap-pwgen.css">
	<script src="app.js"></script>
</head>
<body ng-app="angular-bootstrap-pwgen-test" ng-controller="index">
<div class="container">
	<div class="row">

		<h3>Default Settings</h3>
		<pwgen ng-model="passwordModel[0]"></pwgen>
		<br>
		Model: <span ng-bind="passwordModel[0]"></span>
		<br><br>
		<pre>&lt;pwgen
    ng-model="passwordModel[0]"
&gt;&lt;/pwgen&gt</pre>
		<br>

		<h3>Animate Generation Process</h3>
		<pwgen ng-model="passwordModel[1]" animate="true"></pwgen>
		<br>
		Model: <span ng-bind="passwordModel[1]"></span>
		<br><br>
		<pre>&lt;pwgen
    ng-model="passwordModel[1]"
    animate="true"
&gt;&lt;/pwgen&gt</pre>
		<br>

		<h3>Password Length 20</h3>
		<pwgen ng-model="passwordModel[2]" length="20"></pwgen>
		<br>
		Model: <span ng-bind="passwordModel[2]"></span>
		<br><br>
		<pre>&lt;pwgen
    ng-model="passwordModel[2]"
    length="20"
&gt;&lt;/pwgen&gt</pre>
		<br>

		<h3>Placeholder</h3>
		<pwgen ng-model="passwordModel[3]" placeholder="Enter Password or Hit Generate"></pwgen>
		<br>
		Model: <span ng-bind="passwordModel[3]"></span>
		<br><br>
		<pre>&lt;pwgen
    ng-model="passwordModel[3]"
    placeholder="Enter Password or Hit Generate"
&gt;&lt;/pwgen&gt</pre>
		<br>

		<h3>Disabled</h3>
		<pwgen ng-model="passwordModel[4]" ng-disabled="true"></pwgen>
		<br>
		Model: <span ng-bind="passwordModel[4]"></span>
		<br><br>
		<pre>&lt;pwgen
    ng-model="passwordModel[4]"
    ng-disabled="true"
&gt;&lt;/pwgen&gt</pre>
		<br>

		<h3>app.js:</h3>
			<pre>
angular.module("angular-bootstrap-pwgen-test", ["ngAnimate", "ui.pwgen"]).controller("index", function($scope) {
	$scope.passwordModel = ["", "", "", "", ""];
});
</pre>
	</div>
</div>
</body>
</html>